.home2 header {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 20;
}
.header-arrow {
  display: inline-block;
  text-align: center;
  margin: 2px;
  width: calc(16.6% - 12px);
  height: 40px;
  line-height: 41px;
  position: relative;
  color: #000;
}

.header-arrow:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.header-arrow:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.header-arrow.one {
  z-index: 10;
  background-color: #fec541;
}
.header-arrow.one:before {
  border: none;
}
.header-arrow.one:after {
  border-left-color: #fec541;
}
.header-arrow.two {
  z-index: 9;
  background-color: #feca53;
}
.header-arrow.two:after {
  border-left-color: #feca53;
}
.header-arrow.three {
  z-index: 8;
  background-color: #fecf63;
}
.header-arrow.three:after {
  border-left-color: #fecf63;
}
.header-arrow.four {
  z-index: 7;
  background-color: #fed574;
}
.header-arrow.four:after {
  border-left-color: #fed574;
}
.header-arrow.five {
  z-index: 6;
  background-color: #feda85;
}
.header-arrow.five:after {
  border-left-color: #feda85;
}
.header-arrow.six {
  z-index: 5;
  background-color: #fedf95;
}
.header-arrow.six:after {
  border-left-color: #fedf95;
}
.project-title {
  color: #000 !important;
}
.grid-item a {
  background: white !important;
}
.grid-item a:hover img {
  opacity: 0.1 !important;
}
.team-detail .team-item-img {
  filter: grayscale(0%) !important;
}
.team-detail:hover .team-item-img {
  filter: grayscale(0%);
}

#timeline {
  display: flex;
  background-color: #031625;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  min-height: 400px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before,
.tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease,
    -webkit-transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s,
    -webkit-transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
    sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 1.728rem;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
